<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1478720568477-152d9b164e26);">
  <div class="container d-flex flex-column align-items-center">
    <h1>Save any kind of movie!</h1>
    <p>Classic</p>
  </div>
</div>
