<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba);">
  <div class="container d-flex flex-column align-items-center justify-content-center">
    <h1>Save any kind of movie!</h1>
    <p>Le Wagon | São Paulo</p>
  </div>
</div>
