<%= render 'show_banner', list: @list %>

<div class="container mt-5">
  <div class="head d-flex justify-content-between">
  <h3 style="margin-left: 8px;"><%= @list.bookmarks.count %> Movies</h3>
    <%= link_to 'Create a new bookmark', new_list_bookmark_path(@list), class: 'btn btn-success'%>
  </div>

  <% if @list.bookmarks.count == 0 %>
  <div class="container d-flex flex-column align-items-center mt-5">
    <h2>No movies added yet.</h2>
    <p> Click in the <span style="color: #40e29a;">green</span> button right there!</p>
  </div>
  <% else %>
    <div class="cards">
      <%= render 'bookmark_card', list: @list %>
    </div>
  <% end %>
</div>
