<%= render 'show_banner', list: @list %>

<div class="container mt-5">
  <div class="head d-flex justify-content-between">
  <p></p>
    <%= link_to 'Create a new bookmark', new_list_bookmark_path(@list), class: 'btn btn-success'%>
  </div>

  <div class="cards">
    <%= render 'bookmark_card', list: @list %>
  </div>
</div>
